.logo {
  filter: drop-shadow(2px 4px 2px orange);
  a {
    color: var(--color-text-2);
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-text-2);
  }
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content_logo {
    margin: 0.3125rem 1.875rem;
    .logo {
      filter: drop-shadow(2px 4px 2px orange);
      a {
        color: var(--color-text-2);
        font-family: Montserrat;
        font-size: 2.5rem;
        text-decoration: none;
        color: var(--color-text-2);
      }
    }
  }
  .content_search {
    .icon_search {
      position: absolute;
      margin: 0.625rem;
    }
    input {
      width: 100%;
      height: 1.875rem;
      padding: 1.25rem 1.25rem 1.25rem 2.5rem;
      outline: none;
      border: 1px solid #454545;
      font-family: Montserrat;
      font-size: 0.9375rem;
    }
  }
  .nav_bar {
    display: flex;
    margin-right: 1.875rem;
    li {
      padding: 0.625rem;
      list-style: none;
      a {
        text-decoration: none;
        color: var(--bg-3);
      }
    }
  }
} */
