.contentLogin {
  margin: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .login {
    padding: 50px 100px;
    backdrop-filter: blur(25px);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    h1 {
      font-family: arimo;
      font-weight: 600;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 20px 0rem;
        padding: 5px;
        width: 300px;
        height: 30px;
        outline: none;
      }
      button {
        width: 300px;
        height: 40px;
        color: var(--color-text-1);
        background-color: var(--bg-3);
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        border: 0.5px solid var(--color-text-3);
      }
    }
    .InicioRapido {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      h2 {
        text-align: center;
        font-family: montserrat;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.5);
      }
      .btnLoginApi {
        margin: 10px auto;
        a {
          margin: 20px 30px;
          width: 300px;
          height: 30px;
        }
      }
    }
  }
}
