/*
Fuentes tipograficas:
 font-family: Montserrat
 font-family: arimo
 font- weight: 100
 font- weight: 200
 font- weight: 400
*/

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:ital,wght@0,100;0,300;0,600;0,900;1,100&display=swap");

:root {
  --bg-1: #ffffff;
  --bg-2: #000000;
  --bg-3: #454545;
  --bg-4: #f25e0d;

  --color-text-1: #ffffff;
  --color-text-2: #000000;
  --color-text-3: #454545;
  --color-text-4: #f25e0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

